# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VSCode 
.vscode/

# macOS system files
.DS_Store

# Node modules
node_modules/

# Next.js build files
.next/

# Sanity temporary files
.sanity/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

#Yarn
.yarn/
.gz

# Sanity Studio build output
sanity/dist/

# Next.js build output and cache
frontend/.next/