@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

@font-face {
  font-family: 'HurmeGeometricSans3';
  src: url(../../public/fonts/hurme-geometric/HurmeGeometricSans3-Regular.woff2) format('woff2'),
       url(../../public/fonts/hurme-geometric/HurmeGeometricSans3-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HurmeGeometricSans3';
  src: url(../../public/fonts/hurme-geometric/HurmeGeometricSans3-Bold.woff2) format('woff2'),
       url(../../public/fonts/hurme-geometric/HurmeGeometricSans3-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ArgentPixel';
  src: url(../../public/fonts/argent-pixel/ArgentPixelCF-Regular.woff2) format('woff2'),
        url(../../public/fonts/argent-pixel/ArgentPixelCF-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Iceland';
  src: url(../../public/fonts/iceland/Iceland-Regular.woff2) format('woff2'),
        url(../../public/fonts/iceland/Iceland-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --breakpoint-xxxs: 320px;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-3xl: 1400px;
}

.argent {
  font-family: 'ArgentPixel', sans-serif;
}

.iceland {
  font-family: 'Iceland', sans-serif;
}

body {
  font-family: 'HurmeGeometricSans3', sans-serif;
}

html {
  overflow-y: scroll;
}

