@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@font-face {
  font-family: 'HurmeGeometricSans3';
  src: url('../../public/fonts/hurme-geometric/HurmeGeometricSans3-Regular.woff2') format('woff2'),
       url('../../public/fonts/hurme-geometric/HurmeGeometricSans3-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HurmeGeometricSans3';
  src: url('../../public/fonts/hurme-geometric/HurmeGeometricSans3-Bold.woff2') format('woff2'),
       url('../../public/fonts/hurme-geometric/HurmeGeometricSans3-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'HurmeGeometricSans3', sans-serif;
}
html {
  overflow-y: scroll;
}

